<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bam!Bargains{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #89fffd, #ef32d9);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        /* Additional styles for your page */
    </style>
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/"><h2 class="navbar-brand mb-0">Bam!Bargains</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    
                    <li class="nav-item" style="margin-right: 20px;">
                        <span class="badge badge-pill badge-danger position-absolute top-0 start-100 translate-middle"></span>
                        <a href="/cart"><img src="{% static 'shoppingcart.png' %}" alt="Cart" style="width:40px; height:40px;"></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger nav-link" href="{% url 'custom_logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>